@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <!-- Menú lateral -->
    <NavMenu />

    <!-- Contenido principal -->
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="p-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
